.btn {
  font-weight: 500;
  border-width: 2px;
  border-color: transparent;
  --bg-opacity: 1;
  background-color: #c3dafe;
  background-color: rgba(195, 218, 254, var(--bg-opacity));
  --text-opacity: 1;
  color: #3c366b;
  color: rgba(60, 54, 107, var(--text-opacity));
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
  .btn:hover, .btn:focus {
    --bg-opacity: 1;
    background-color: #ebf4ff;
    background-color: rgba(235, 244, 255, var(--bg-opacity));
    border-color: transparent
  }

.btn-primary {
  --bg-opacity: 1;
  background-color: #5a67d8;
  background-color: rgba(90, 103, 216, var(--bg-opacity));
  --text-opacity: 1;
  color: #ebf4ff;
  color: rgba(235, 244, 255, var(--text-opacity));
  --border-opacity: 1;
  border-color: #5a67d8;
  border-color: rgba(90, 103, 216, var(--border-opacity));
}

.btn-primary:hover, .btn-primary:focus {
    --bg-opacity: 1;
    background-color: #ebf4ff;
    background-color: rgba(235, 244, 255, var(--bg-opacity));
    --text-opacity: 1;
    color: #4c51bf;
    color: rgba(76, 81, 191, var(--text-opacity));
    border-color: transparent
  }

.btn-ghost {
  background-color: transparent;
  border-width: 2px;
  --text-opacity: 1;
  color: #5a67d8;
  color: rgba(90, 103, 216, var(--text-opacity));
  --border-opacity: 1;
  border-color: #5a67d8;
  border-color: rgba(90, 103, 216, var(--border-opacity));
}

.btn-ghost:hover, .btn-ghost:focus {
    --bg-opacity: 1;
    background-color: #ebf4ff;
    background-color: rgba(235, 244, 255, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #ebf4ff;
    border-color: rgba(235, 244, 255, var(--border-opacity))
  }

.btn-inverted {
  --bg-opacity: 1;
  background-color: #7f9cf5;
  background-color: rgba(127, 156, 245, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  border-color: transparent;
}

.btn-inverted:hover, .btn-inverted:focus {
    --bg-opacity: 1;
    background-color: #ebf4ff;
    background-color: rgba(235, 244, 255, var(--bg-opacity));
    --text-opacity: 1;
    color: #4c51bf;
    color: rgba(76, 81, 191, var(--text-opacity))
  }

.btn-inverted.is-ghost {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity));
    background-color: transparent;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
  }

.btn-inverted.is-ghost:hover, .btn-inverted.is-ghost:focus {
      --bg-opacity: 1;
      background-color: #ebf4ff;
      background-color: rgba(235, 244, 255, var(--bg-opacity));
      --text-opacity: 1;
      color: #4c51bf;
      color: rgba(76, 81, 191, var(--text-opacity))
    }

.btn-small {
  font-size: 0.875rem;
}

.primo-content {
  font-size: 1.125rem;
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.primo-content h1 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

.primo-content h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

.primo-content h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0.25rem;
  }

.primo-content ol {
    list-style-type: decimal;
  }

.primo-content ul {
    list-style-type: disc;
    list-style-position: inside;
  }

.primo-content ul p {
      display: inline;
    }

.primo-content ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

.primo-content a {
    --text-opacity: 1;
    color: #3182ce;
    color: rgba(49, 130, 206, var(--text-opacity));
    text-decoration: underline;
  }

.primo-content blockquote {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
  }

.primo-content mark {
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26, 32, 44, var(--text-opacity));
    --bg-opacity: 1;
    background-color: #fefcbf;
    background-color: rgba(254, 252, 191, var(--bg-opacity));
  }

@media (min-width: 1024px) {
    .primo-content h1 {
      font-size: 3rem;
    }

    .primo-content h2 {
      font-size: 2.25rem;
    }
  }

